langchain
langchain-community
langchain-groq
langchain_huggingface
langchain-text-splitters
langchain-core
langgraph
gitingest
requests
pyshorteners
python-telegram-bot
aiohttp
chromadb
pydantic
numpy
pandas
firecrawl-py
tavily-python
